### Maven / Java ###
target/
out/
build/
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar
.idea
dependency-reduced-pom.xml
release.properties
.flattened-pom.xml
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

### Spring Boot runtime ###
logs/
*.log
*.pid
*.pid.lock
*.seed
hs_err_pid*
replay_pid*

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse / STS ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### OS / editor ###
.DS_Store
Thumbs.db
*.swp
*.swo
